<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>

        <nav class = "navbar bg-white">
            <div class="container">
                <div class = "navbar-content">
                    <div class = "brand-and-toggler">
                        <a href = "/" class = "navbar-brand">
                            <img src = "assets/images/upper.jpg" alt = "" class = "navbar-brand-icon">
                            <span class = "navbar-brand-text">DFLT <span>DATA</span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>

        <header class = "header bg-bright" id = "header">
            <div class = "container">
                <div class = "header-content text-center">
                    <h6 class = "text-uppercase text-blue-dark fs-14 fw-6 ls-1"></h6>
                    <h1 class = "lg-title">THIS IS ABOUT DFLT TESTING DATA </h1>
                    <p class = "text-dark fs-18"> try now for free!</p>
                    <a href = "/search" class = "btn btn-primary text-uppercase">SEARCH MY DATA </a>
                    <a href = "/add" class = "btn btn-primary text-uppercase">ADD MY DATA </a>
                    <img src = "assets/images/logo.jpg">
                </div>
            </div>
        </header>


        <!-- <div class = "section-two bg-bright">
            <div class="container">
                <div class="section-two-content">
                    <div class = "section-items">
                        <div class = "section-item">
                            <div class = "section-item-icon">
                                <img src = "assets/images/feature-1-edf4481d69166ac81917d1e40e6597c8d61aa970ad44367ce78049bf830fbda5.svg" alt = "">
                            </div>
                            <h5 class = "section-item-title">CHECK THE TEST TATA!</h5>
                            <p class = "text">AAAAAAA.</p>
                        </div>

                        <div class = "section-item">
                            <div class = "section-item-icon">
                                <img src = "assets/images/feature-2-a7a471bd973c02a55d1b3f8aff578cd3c9a4c5ac4fc74423d94ecc04aef3492b.svg" alt = "">
                            </div>
                            <h5 class = "section-item-title">ADD THE DATA!</h5>
                            <p class = "text">BBBBBBB.</p>
                        </div>

                        <div class = "section-item">
                            <div class = "section-item-icon">
                                <img src = "assets/images/feature-3-4e87a82f83e260488c36f8105e26f439fdc3ee5009372bb5e12d9421f32eabdd.svg" alt = "">
                            </div>
                            <h5 class = "section-item-title">CHECK THE TREND!</h5>
                            <p class = "text">CCCCCCCCC.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <footer class = "footer bg-dark">
            <div class="container">
                <div class = "footer-content text-center">
                    <p class="fs-15">&copy;Copyright 2023. All Rights Reserved - <span> DFLT DATA</span></p>
                </div>
            </div>
        </footer>
        
    </body>
</html>